* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1em;
  
}

/* https://css-tricks.com/snippets/css/system-font-stack/ */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: snow;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.container {
  background-color: palevioletred;
  width: 70%;
  margin: 5rem;
  padding: 2rem;
  box-shadow: 3px 3px 10px silver;
  border-radius: 5px;
}

header {
  text-align: center;
  color: white;
  text-shadow: 2px 2px mediumvioletred;
}

form {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

#todo-input {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 0.3rem;
  font-size: 1rem;
  flex: 4 1 100px;
}

#add-todo {
  background-color: mediumvioletred;
  border: none;
  border-radius: 0;
  padding: 0.3rem;
  font-size: 1rem;
  width: 25%;
  color: white;
  flex: 1 1 50px;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: snow;
  margin: 0.3rem 0;
  list-style: none;
  animation: animationFrames ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
}

.todo-text {
  padding-left: 0.5rem;
}

.delete {
  border: none;
  background-color: pink;
  text-align: center;
  padding: 0.6rem;
}

.done {
  color: grey; 
  text-decoration: line-through;
}

@keyframes animationFrames{
  0% {
    opacity:0;
    transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

footer {
  text-align: center;
  color: darkgrey;
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media {
  font-size: 2rem;
  padding: 1rem;
  color: darkgrey;
  text-decoration: none;
}

@media only screen and (max-width: 500px){
  .container {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (min-width: 800px){
  .container {
    width: 600px;
  }
}