* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1em;
  
}

/* https://css-tricks.com/snippets/css/system-font-stack/ */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: snow;
  width: 100%;
}

.container {
  background-color: palevioletred;
  width: 30rem;
  margin: 5rem;
  padding: 2rem;
  box-shadow: 3px 3px 10px silver;
  border-radius: 5px;
}

header {
  text-align: center;
  color: white;
  text-shadow: 2px 2px mediumvioletred;
}

form {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

input[type=text]{
  border: none;
  height: 1.5rem;
  font-size: 1.0rem;
  flex: 4 0 100px;
}

#add-todo {
  background-color: mediumvioletred;
  border: none;
  border-radius: 0;
  height: 1.5rem;
  font-size: 1.0rem;
  width: 25%;
  color: white;
  flex: 1 0 50px;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: snow;
  margin: 5px 0;
  list-style: none;
}

.todo-text {
  padding-left: 0.5rem;
}

.delete {
  border: none;
  background-color: pink;
  text-align: center;
  padding: 10px;
}

footer {
  text-align: center;
  margin: 2rem;
}